# Ignore Python virtual environments
backend/.venv
backend/.env
backend/.env.production
backend/.env.development
backend/.env.testing

# Byte-compiled files
__pycache__/
*.pyc
*.pyo

# VS Code settings
.vscode/

# MacOS system files
.DS_Store
